@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cocomat Pro Bold';
  src: url('../assets/fonts/CocomatProBold/CocomatPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a, p, h1, h2, h3 {
    text-decoration: none;
    list-style: none;
    color: rgb(58, 26, 13);
    font-family: 'Poppins Bold' ;
}

body{
    background-color: #f6f6f6;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
nav{
    width: 100%;
    background-color: #f5f5f5;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    & .nav-links-container{
        display: flex;
        gap: 2rem;
        font-family: 'Cocomat Pro Bold';

        & .nav-link {
            border: 3px solid orange;
            padding: 8px;
            border-radius: 20px;
            font-weight: bold;
        }
    }
}

.logo{
    margin-top: 15px;
}

.container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;

}

.gr-orange{
    background: linear-gradient(to right, #f86d68, #f4863e, #e3b055);
}


.container-interno {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-left: 75px;
    justify-content: center;


    & h1,p,a{
    color: white;
    font-weight: bold;
    }

    & h1{
        font-size: 65pt;
        font-family: 'Poppins Bold';
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.205);
        width: 350px;
    }

    & p {
        width: 450px;
        font-family: 'Cocomat Pro Bold';
        font-size: 20pt;
        text-align: justify;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.150);
    }

}

.container-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-link{
    border: 3px solid white;
    border-radius: 30px;
    font-size: 16pt;
    font-family: 'Cocomat Pro Bold';
    padding: 0.5rem;
    width: 200px;
    text-align: center;

}

.title{
    font-family: 'Poppins Bold';
    color: #622110; font-size: 50pt; width: 100%; text-align: center;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.150);
}

.container-linha{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
    background: url(../assets/png/OndaLanding.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    & article{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 4rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(22, 11, 0, 0.219);
        margin-bottom: 3rem;
    }

    & .icon-container{
        padding: 1rem;
        background-color: #f4863e;
        width: 140px;
        height: 140px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 80px;
            height: 80px;
        }
    }

    & .information {
        width: 150px;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & h4 {
            color: #622110;
            font-family: 'Poppins Regular';
            text-align: center;
        }

    }
}

.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    font-family: 'Cocomat Pro Bold';
    color: #622110;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    color: #140a00;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;

    & p{
        font-family: 'Poppins Regular';
    }
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    padding: 30px 0px;
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}